<h1> <%= @outfit.name%> </h1><br>
<p><%=@outfit.top%> <br><br>
<%=@outfit.bottom%><br><br>
<%=@outfit.shoes%> <br><br>
<%=@outfit.accessories%></p>
<br>
<small> This outfit belongs to: <a href="/users/<%=@outfit_owner.id%>"><%=@outfit_owner.username%></a> </small>

<% if check_owner(@outfit) %>
  <a href="/outfits/<%=@outfit.id%>/edit">Edit this Outfit</a><br><br>
  <a href="/outfits">See all Outfits</a><br><br>

  <form action="/outfits/<%=@outfit.id%>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete">
  </form>

  <%end%>