<h1> <%= @outfit.name%> </h1>
<p><%=@outfit.top%> 
<%=@outfit.bottom%><br>
<%=@outfit.shoes%> 
<%=@outfit.accessories%></p>

<a href="/outfits/:id/edit">Edit this Outfit</a><br>
<a href="/outfits">See all Outfits</a>

<form action="/outfits/<%=@outfit.id%>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
  </form>