

<body>

<% if current_user.id != @member.id%>
<h1>Welcome to <strong><%= @member.username%>'s </strong>Closet!</h1>

    <h3> Click on one of <strong><%=@member.username%>'s </strong>outfits to see the full look: </h3>
<%else%>
<h1>Welcome <%= current_user.username%>!</h1>
    <%if @outfits.empty?%>
        <h3>Your Closet is currently empty!</h3>
    <%else%>
        <h3>Your Closet: </h3>
    <%end%>
<%end%>


<ul>
<% @outfits.each do |o| %>
    <li><a href="/outfits/<%=o.id%>"><%=o.name%></a></li><br>
<%end%>
</ul>
<a href="/outfits/new">Create a New Outfit!</a>


</body>

